<html>
	<head>
		<title>La tortue</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" />
		<script src="js/jquery.min.js"></script>
		<script src="js/config.js"></script>
		<script src="js/skel.min.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
	</head>
	<body>

		<!-- Nav -->
		<%- partial("_shared/nav") %>	

		<!-- Home -->
		<%- partial("_shared/home") %>

		<!-- Especes -->
		<%- partial("_shared/especes") %>
		
		<!-- Stades -->
		<%- partial("_shared/stades") %>

		<!-- Alimentation -->
		<%- partial("_shared/alimentation") %>

	</body>
</html>